body {
  background: radial-gradient(circle, rgba(201, 252, 255, 1) 0%, rgba(255, 220, 238, 1) 100%);
}
.wrapper_inner {
  text-align: center;
  background-color: white;
}
.wrapper_span {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px #969696;
  text-align: center;
  font-size: 50px;
}
.recipetitle_main {
  text-align: center;
}
.recipetitle_main h2 {
  font-size: 40px;
}

.recipetitle_main p {
  font-size: 22px;
  font-weight: 700;
}
img {
  width: 450px;
  max-width: 100%;
  border: 10px solid white;
  box-shadow: rgb(0 0 0 / 25%) 0px 25px 50px -12px;
}
.post {
  width: 1200px;
  margin: 0 auto;
  /* text-align: center; */
}
.main_img_part {
  display: flex;
  justify-content: space-between;
}
.text {
  width: 700px;
  font-size: 19px;
  margin-top: 10px;
}
.text p {
  margin-top: 0;
  margin-bottom: 16px;
}
.flex {
  display: flex;

  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}
.flex:last-child {
  border-bottom: 1px solid #000000;
}
.flex p {
  font-weight: 900;
  /* border-left: 1px solid black; */
}
.font {
  width: 50%;
}
